{deps, [
	{epgsql, {git, "https://github.com/epgsql/epgsql.git", {branch, "master"}}},
	{kill_bill, {git, "https://github.com/SysVisionINT/kill-bill.git", {branch, "master"}}},
	{iso8601, {git, "https://github.com/erlsci/iso8601.git", {tag, "1.3"}}},
	{jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.9.0"}}},
	{hex, {git, "https://github.com/b/hex.git", {branch, "master"}}},
	{noesis, {git, "https://github.com/SysVisionINT/noesis.git", {branch, "master"}}}
]}.
